<div class="checkout main" ng-repeat="(productId, item) in Cart.CachedList">
  <div class="row" >
    <div class="checkout title col col-60 text-left">
      <p>{{Cart.CachedMeta[productId].value.title}}</p>
      <p>
        <span class="note">
          {{Cart.CachedMeta[productId].value.categoryId}}
        </span>
      </p>
      <p
        style="text-transform: capitalize !important; letter-spacing: 1px; !important;"
        ng-repeat="(aType, other) in Cart.CachedMeta[productId].selection track by $index">
        {{aType}}:
        {{Cart.CachedMeta[productId].selection[aType]}}
      </p>
    </div>
    <div class="checkout col col-40 text-right">
      <p>
        ₹{{Cart.CachedTotal[productId].totalPrice.toFixed(2)}}
      </p>
      <p>
        <span class="note">
          {{Cart.CachedTotal[productId].amount}} x ₹{{Cart.CachedTotal[productId].price.toFixed(2)}} </span>
      </p>
    </div>
  </div>
</div>

<!-- SUBTOTAL and FEES -->
<div class="checkout-sub row">
  <div class="checkout-sub col col-20 text-right">&nbsp;</div>
</div>
<div class="checkout-sub row">
  <div class="checkout-sub col col-50 text-left">
    <h2>Order Subtotal</h2>
  </div>
  <div class="checkout-sub col col-50 text-right">
    <p>
      ₹{{Cart.CachedTotal['total_value'].toFixed(2)}}
    </p>
  </div>
</div>
<div class="checkout-sub row" ng-repeat="feeObj in Cart.CachedTotal['fees']">
  <div class="checkout-sub col col-50 text-left">
    <h2>{{feeObj.title}}</h2>
  </div>
  <div class="checkout-sub col col-20 text-right">
    <p>
      <span class="note"></span>{{feeObj.perc}}%
    </p>
  </div>
  <div class="checkout-sub col col-30 text-right">
    <p>
      ₹{{feeObj.subfee_total.toFixed(2)}}
    </p>
  </div>
</div>

<!-- TOTAL -->
<div class="checkout row" ng-show="Cart.CachedTotal['total_count'] != 0">
  <div class="checkout col col-60 text-left">
    <h2>Order total</h2>
  </div>
  <div class="checkout col col-40 text-right">
    <p>
      ₹{{Cart.CachedTotal['total_value_incl'].toFixed(2)}}
    </p>
  </div>
</div>