<div class="list">
<label class="item item-input item-stacked-label item-stacked-label">
  <span class="input-label">Full name*</span>
  <input type="text" ng-model="ProfileData.other.name">
</label>

<label class="item item-input item-stacked-label">
  <span class="input-label">Address line 1*</span>
  <input type="text" ng-model="ProfileData.other.address1">
</label>

<label class="item item-input item-stacked-label">
  <span class="input-label">Address line 2</span>
  <input type="text" ng-model="ProfileData.other.address2">
</label>

<label class="item item-input item-stacked-label">
  <span class="input-label">ZIP/Post code*</span>
  <input type="text" ng-model="ProfileData.other.postcode">
</label>

<label class="item item-input item-stacked-label">
  <span class="input-label">City*</span>
  <input type="text" ng-model="ProfileData.other.city">
</label>

<label class="item item-input item-stacked-label">
  <span class="input-label">Country</span>
  <input type="text" ng-model="ProfileData.other.country">
</label>

<label class="item item-input item-stacked-label">
  <span class="input-label">Contact no.</span>
  <input type="tel" ng-model="ProfileData.other.tel" placeholder="">
</label>

<ion-item ng-click="status['nextUpdateProfile'] = status.nextUpdateProfile == false" ng-show="!status.hideUpdateProfileField">
  Update profile with these details?
  <span class="item-note" ng-switch="status.nextUpdateProfile">
    <span ng-switch-when="true">
      Yes
    </span>
    <span ng-switch-when="false">
      No
    </span>
  </span>
</ion-item>
</div>